.container
  .row
    .col-md-12
      form#newdemo(action='/demo/create', method='POST')
       .form-group
         label(for='fname') Contact Person:
         input#fname.form-control(type='text', placeholder='First Name', name='customerfirstname')
       .form-group
         input#lname.form-control(type='text', placeholder='Last Name', name='customerlastname')
       .form-group  
         input#country.form-control(type='text', placeholder='Country', name='country')
       .form-group
         input#hospital.form-control(type='text', placeholder='Hospital', name='hospital')
       .form-group
         input#email.form-control(type='text', placeholder='EMail', name='email')
       .form-group
         label(for='station') Appointment:
         input#station.form-control(type='text', placeholder='Station', name='station')
       .form-group
         input#date.form-control(type='text', placeholder='Date', name='date')
       .form-group
         input#time.form-control(type='text', placeholder='Time', name='time')
       .form-group
         input#duration.form-control(type='text', placeholder='Duration', name='duration')
       button.btn.btn-default(type='submit') Save
//
  .container
    .row
      .col-md-12
        form#newdemo(action='/demo/create', method='POST')  
        .form-group
          label(for='fname') Contact Person:
          input#fname.form-control(type='text', placeholder='First Name', name='customerfirstname')
        .form-group
          input#lname.form-control(type='text', placeholder='Last Name', name='customerlastname')
        .form-group  
          input#country.form-control(type='text', placeholder='Country', name='country')
        .form-group
          input#hospital.form-control(type='text', placeholder='Hospital', name='hospital')
        .form-group
          input#email.form-control(type='text', placeholder='EMail', name='email')
        .form-group
          label(for='station') Appointment:
          input#station.form-control(type='text', placeholder='Station', name='station')
        .form-group
          input#date.form-control(type='text', placeholder='Date', name='date')
        .form-group
          input#time.form-control(type='text', placeholder='Time', name='time')
        .form-group
          input#duration.form-control(type='text', placeholder='Duration', name='duration')
        input(type='submit' value='Save Demo')

//
  input(type='text', placeholder='Country', name='country')
  input(type='text', placeholder='Region', name='region')
  input(type='submit' value='Create Demo')
  br
 .form-group(action='/demo/create', method='POST')
//
 form(action='/demo/create', methow='POST')
   input(type='text', placeholder='Name', name='customername')
   br
   input(type='text', placeholder='Station', name='station')
   input(type='submit' value='Create demo')
   br