form(action='/demo/create', method='POST')
  input(type='text', placeholder='Name', name='customername')
  br
  input(type='text', placeholder='Station', name='station')
  input(type='submit' value='Create Demo')
  br