extends start_layout
block head
 script(src="js/dependencies/jquery.min.js")
 script(src="js/bootstrap.min.js")
 link(rel='stylesheet', type='text/css', href='styles/bootstrap.min.css')

block content
 button.btn.btn-primary(type='button') Test Primary Button ...
