extends start_layout
block head

 script.
   $(function(){
     $("#listDemos").load("/demo/listdemos");
   });
   $(function(){
     $("#newDemo").load("/demo/new");
   });
   $(function(){
     $("#listStations").load("/station/liststations");
   });
   
   $(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
        $(this).collapse('hide');
    }
   });

   
  
   function myFunction() {
    document.getElementById("demo").innerHTML = "Hello World";
    console.log("in function");
   }

block content
 nav.navbar.navbar-default
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button#drp.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#' data-toggle="tab") RSNA 2016

    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#listDemos' data-toggle="tab")
            | Demos
            span.sr-only (current)
        li
          a#newDemoTab(href='#newDemo' data-toggle="tab")
            | New
        li
          a#StationsTab(href='#listStations' data-toggle="tab")
            | Stations
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            span.glyphicon.glyphicon-align-left(aria-hidden='true')

    
      
    // /.navbar-collapse
  // /.container-fluid

 .container
  .row
    .col-md-12

    .tab-content
      #listDemos.tab-pane.active(role='tabpanel')
        #listDemos
      #newDemo.tab-pane(role='tabpanel')
        #newDemo 
      #listStations.tab-pane(role='tabpanel')
        #listStations  

      .row
        .col-md-4
          // this column will hold the login form
        .col-md-4
          // this column will hold a heading with a button
        .col-md-4
          // this column will hold a heading with an empty image
  // start footer
