doctype
html
 head
  title=devTest
  script(src="js/dependencies/jquery.min.js")
  script(src="js/bootstrap.min.js")
  link(rel='stylesheet', type='text/css', href='styles/bootstrap.min.css')
  block head
 body
  #content
  block content
