doctype
html
 head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title=devTest
  script(src="js/dependencies/jquery.min.js")
  script(src="js/bootstrap.min.js")
  script(type"text/javascript" src="js/dependencies/sails.io.js")
  link(rel='stylesheet', type='text/css', href='styles/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='styles/styles.css')
  block head
 body
  #content
  block content
