.container
  .row
    .col-md-12
      form#uploadForm(enctype='multipart/form-data', action='/station/upload', method='post')
       .form-group
         label(for='file') File Name:
         input#file.form-control(type='file', placeholder='File Name', name='uploadFile')
       button.btn.btn-default(type='submit') Upload


// enctype="multipart/form-data"
