@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Lato', sans-serif;
}

#bs-example-navbar-collapse-1  {
  background-color: #008080;
}

.navbar-default .navbar-brand {
  color: #f2f2f2;
}

.navbar-default .navbar-brand:hover {
  color: #cccccc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #f2f2f2;
  background-color: #006666;
}

.container-fluid {
  background-color: #008080;
  
}

.navbar-default .navbar-nav>li>a {
  color: #f2f2f2;
  
}

.navbar-default .navbar-nav .dropdown .dropdown-toggle  {
  color: #f2f2f2;
  background-color: #008080;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: #f2f2f2;
  background-color: #006666;  
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #008080;
  border-color: #008080;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f2f2;
}
  
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#Enterprise,
#Enterprise>a {
  background-color: #6095c1;
  color: #f2f2f2;

}

#Departmental,
#Departmental>a {
  background-color: #f57311;
  color: #f2f2f2;
}

#Service, 
#Service>a {
  background-color: #6095c1;
  color: #f2f2f2;
}

#Image\ Quality, 
#Image\ Quality>a {
  background-color: #6095c1;
  color: #f2f2f2;
}

#DR, 
#DR>a {
  background-color: #fe9c1e;
  color: #f2f2f2;
}

#Meeting, 
#Meeting>a {
  background-color: #6095c1;
  color: #f2f2f2;
}

.panel-title {
  font-size: 14px;
}